:root {
  --card: url(img/paper.png);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* min-width: 1600px; */
  height: 100vh;
  background: rgb(231, 224, 208);
  background: linear-gradient(
    143deg,
    rgba(231, 224, 208, 1) 1%,
    rgba(195, 136, 34, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Nanum Brush Script", cursive;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-start {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* transition: opacity 1s linear; */
}

.header-play {
  width: 100%;
  padding: 0rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-start {
  color: black;
  font-family: "Fontdiner Swanky", cursive;
  font-size: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px #5a5855;
}

.title-play {
  color: black;
  font-family: "Fontdiner Swanky", cursive;
  font-size: 60px;
  display: flex;
  text-align: center;
  justify-content: start;
  text-shadow: 2px 2px #5a5855;
}

.level-window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  box-shadow: 5px 5px #3f3d3d;
  width: 80rem;
  height: 40rem;
  margin: 4rem;
  font-size: 3.5rem;
  font-family: "Nanum Brush Script", cursive;
  padding: 2rem;
  background-color: rgb(163, 119, 7);
  /* transition: opacity 1s linear; */
}

.level-window h3 {
  font-size: 6rem;
}

.level-buttons button {
  font-family: "Nanum Brush Script", cursive;
  font-size: 3.5rem;
  padding: 1rem;
  margin: 0 3rem;
  width: 15rem;
  border-radius: 20%;
  box-shadow: 5px 5px #4a4646;
}

.level-buttons button:hover {
  background-color: rgb(108, 101, 91);
  transform: scale(1.1);
  transition: 0.5s;
}

.statistics-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 5rem;
}

.statistics-play {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 5rem;
  font-family: "Nanum Brush Script", cursive;
  width: 50rem;
}

.timer-label,
.best-time {
  padding: 1rem;
}

.visible {
  display: flex;
}

.play-window {
  width: 120rem;
  height: 55rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* transition: opacity 1s linear; */
}

.modal-ready,
.modal-win,
.modal-lose {
  border: 3px solid black;
  background-color: rgba(251, 184, 0, 0.486);
  font-size: 6rem;
  width: 50rem;
  height: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem rgb(0 0 0 / 30%);
  /* transition: opacity 1s linear; */
  flex-direction: column;
  text-align: center;
  padding: 3rem;
}

.modal-win {
  font-size: 5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  /* transition: opacity 1s linear; */
}

.button--exit,
.button--exit--again,
.button--play,
.shuffle-btn,
.button--playagain,
.back-btn {
  font-family: "Nanum Brush Script", cursive;
  font-size: 3.5rem;
  width: 8rem;
  padding: 0.5rem 1rem;
  margin: 2rem;
  margin-top: 5rem;
  text-align: center;
  height: 5rem;
  background-color: rgba(108, 101, 91, 0.5);
  border-radius: 20%;
}

.button--playagain,
.shuffle-btn,
.back-btn {
  width: 15rem;
  height: 5rem;
}

.button--play:hover,
.button--playagain:hover,
.shuffle-btn:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s;
}

.button--exit:hover,
.button--exit--again:hover,
.back-btn:hover {
  background-color: rgb(187, 0, 0);
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s;
}

.main-card {
  display: flex;
  background-image: var(--card);
  border-radius: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  padding: 1rem;
  color: black;
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card--front {
  backface-visibility: hidden;
}

.card--back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.main-card-easy {
  width: 21%;
  height: 21%;
  margin: 1%;
  padding: 2rem;
}

.main-card-medium {
  width: 14.5%;
  height: 14.5%;
  margin: 1rem;
  padding: 1rem;
}

.main-card-hard {
  width: 11%;
  height: 11%;
  margin: 0.5%;
  padding: 2rem;
  font-size: 4rem;
}

.active {
  transform: rotateY(-180deg);
  display: flex;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.matched {
  opacity: 0;
  transition: all 1s;
}
